:root {
  font-family: Arial, sans-serif;
  color: #1d2b17;
  background: #fbfcfa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
}
